{% extends 'events/base.html' %}

{% block content %}
<br>

<div class="card">
  <div class="card-header">
   Venue 
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ venue }}</h5>

    <p class="card-text">
    {{ venue.address }}<br/>
    {{ venue.zip_code }}<br/>
    {{ venue.phone }}<br/>
    {{ venue.web }}<br/>
    <a href='{{ venue.web }}'>{{ venue.email_address }}</a><br/>
    Owner: {{ venue_owner }}<br/>
    {% if venue.venue_image %}
    <img style='width: 50%; height:50%;' src='{{ venue.venue_image.url }}'></br>
    {% else %}
    {% endif %}
    </p>

    <h5>Events happening here:</h5></br>
    {% if events %}
        {% for event in events %}
        <a href='{% url "show_event" event.id %}'>{{ event }}</a></br>
        {% endfor %}
    {% else %}
        <p>There are no events happening here..</p>
    {% endif %}
    </div>

    {% if user.is_authenticated %}
    {% if user == event.manager %}
    <div class='card-footer text-muted'>
        <a href='{% url "update_venue" venue.id %}' class='btn btn-outline-secondary'>Update</a>
        <a href='{% url "delete_venue" venue.id %}' class='btn btn-outline-danger'>Delete</a>
    <div class='btn'>

    {% endif %}
    {% endif %}

    <!--a href="#" class="btn btn-primary">Go somewhere</a-->
  </div>
</div>
<br/>


<ul>
    

</ul>



{% endblock content %}
